body {
    font-family: IRANSans;
    font-size: 12px;
}

.login .login__box .login__box__title {
    font-size: 15px;
    margin-bottom: 15px;
}

.form-control {
    font-size: 12px;
}

.login .login__box .login__box__link a {
    font-size: 12px;
}

.header .header__welcome {
    font-size: 11px;
}

#menu .profile .profile__name {
    font-size: 15px;
}

#menu .profile .profile__desc {
    font-size: 10px;
}

#menu .link .link__item a {
    font-size: 11px;
}

.form-control {
    font-size: 10px;
}

.btn-success.focus, .btn-success:focus , .btn-success.active.focus,
 .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, 
 .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, 
 .open>.dropdown-toggle.btn-success:focus,
 .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #62cb31;
    border-color: #62cb31;
}

.form-group > lable {
    font-weight: 600;
    font-size: 10px;
}