body {
    font-family: IRANSans;
    font-size: 12px;
}

.login .login__box .login__box__title {
    font-size: 15px;
    margin-bottom: 15px;
}

.form-control {
    font-size: 12px;
}

.login .login__box .login__box__link a {
    font-size: 12px;
}